<div class="container mt-5">
  <h1 style="text-align: center;">Bloglar</h1>

  <!-- Filtreleme Dropdown -->
  <div class="form-group">
    <label for="filterMember">Üye Adına Göre Filtrele:</label>
    <select class="form-control" id="filterMember" (change)="onMemberIdChange($event)">
      <option value="">Tüm Üyeler</option>
      <option *ngFor="let member of Members" [value]="member.id">{{ member.firstName + ' ' + member.lastName }}</option>
    </select>
  </div>

  <!-- Blog Kartları -->
  <div  class="blog-card alt" style="margin-top: 50px; margin-bottom: 50px;" *ngFor="let item of Blogs">
    <div class="meta" >
      <div class="photo" style="background-image: url(https://storage.googleapis.com/chydlx/codepen/blog-cards/image-2.jpg)"></div>
      <ul class="details">
        <li class="author">{{ item.memberName.toUpperCase() }}</li>
        <li class="date">{{ item.createdDate | date }}</li>
        <li class="tags">
          <ul>
            <li><a href="#">Learn</a></li>
            <li><a href="#">Code</a></li>
            <li><a href="#">JavaScript</a></li>
            <p class="read-more">   
              <button type="button" class="btn btn-primary" (click)="selectedBlog(item)">Oku</button>
            </p>
          </ul>
        </li>
      </ul>
      
    </div>
    <div class="description">
      <h1>{{ item.title }}</h1>
      <p>{{ item.content }}</p>
    </div>
    <ng-template #noBlogs>
      <div style="text-align: center; margin-top: 50px;">
        <p>Henüz yazı yok.</p>
      </div>
    </ng-template>
  </div>
</div>

